<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Datos.Properties.Settings.conexion" connectionString="Data Source=DESKTOP-IP4QBPJ\SQLEXPRESS;Initial Catalog=ERP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>